* {
  transition: all 2s ease;
  margin: 0;
  padding: 0;
}


header {
  background-color: azure;
  height: 100px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  background-color: azure;
  height: 50px;
  width: 200px;
  border-radius: 5%;
  background-color: rgb(219, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 2.5px #fff, 0px 0px 0px 5px rgb(43, 226, 43),
    0px 0px 0px 10px white, 0px 0px 0px 10.5px red;
  background: white;
}

a:hover {
  box-shadow: 0px 0px 5px 2.5px #fff, 0px 0px 0px 5px blueviolet,
    0px 0px 0px 10px white, 0px 0px 0px 10.5px red;
  background: white;
  color: rgb(96, 14, 228);
  transform: rotate3d(1, 1, 1, 0deg);
  animation:rotate 2s infinite ;
}
@keyframes rotate {
  from{
    transform: rotate3d(1, 1, 1, -25deg);
  }
to{
  transform: rotate3d(1, 1, 1, 25deg);
}

}

table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 80%;
}
.table {
  display: block;
margin: 0 auto;
}

select{
  width: 80px;
}

th,
td {
  text-align: center;
  border: 1px solid #cd3232;
  padding: 2px;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #edf8f7;
}

tr:hover {
  background-color: #ddd;
}
.wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 32px;
}
.my-words{
  display: flex;
  flex-direction: column;
}
.word,
.trans {
  width: 30%;
  height: 100px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.trans {
  color: gray;
}

.list-words{
  width: 100vw;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.active{
  color: #cd3232;
  font-weight: 900;
}

/* Adaptive */
@media screen and (max-width: 600px) {
  /* CSS стилі для екранів менше 600px */
  table{
    width: 100%;
  }
  .wrapper{
    font-size: 22px;
    height: 100px;
  }
  .trans{
    width: 100vw;
  }
  button{
    font-size: 14px;
  }
  th,
td{
font-size: 12px;
width: 17vw;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
td:nth-child(7), td:nth-child(6),td:nth-child(5){
  width: 6.5%;
}
tr{
  width: 100vw;
  display:flex;
 justify-content: space-between;
}
th{
  font-size: 10px;
  font-weight: 600;
  height: 80px;
  display: flex;
 justify-content: center;
 align-items: center;
}
.word{
  width: 100vw;
}
}

